* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
}
li {
  list-style: none;
}
.imagesContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* 
MARK: Aside
*/
#asideContainer {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh;
  color: #818080;
  /* background-color: aquamarine; */
}
img[alt="INK Logo"] {
  width: 9vw;
  height: 8vh;
}
#websiteLinksContainer ul {
  width: 10vw;
  height: 20vh;
  display: flex;
  padding-top: 20px;
  align-items: self-start;
  flex-direction: column;
  /* background-color: yellow; */
}
#websiteLinksContainer li:hover {
  cursor: pointer;
  color: #41484e;
}
#socialMediaIconsContainer {
  width: 10vw;
  height: 10vh;
  display: flex;
  padding-right: 4vw;
  font-size: 25px;
  justify-content: space-between;
  align-items: center;
  /* background-color: pink; */
}
.fa-brands:hover {
  color: #41484e;
}
#textWidgeSection {
  width: 10vw;
  padding-bottom: 25px;
}
.textWidgeTitle {
  padding: 15px 0px;
  font-weight: bold;
}
#flickerSection {
  width: 10vw;
}
#flickerSection .imagesContainer {
  width: 12vw;
  margin-top: 10px;
}
#flickerSection img {
  width: 30%;
  margin-bottom: 10px;
  height: 10vh;
}
/* 
  MARK:Content
*/
#contentContainer {
  width: 80vw;
  height: 100vh;
  /* background-color: blue; */
}
nav {
  color: white;
  height: 10vh;
  background-color: #cdb881;
}
nav ul {
  width: 40%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
nav li:hover {
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #b39f6c;
}
#allPageContainer img {
  width: 25%;
  height: 30vh;
  opacity: 0.5;
}
#allPageContainer img:hover {
  opacity: 1;
  transform: scale(1.1);
}
